/*-----------------------------------------------------------------------------------*
/* = Testimonials - Post Type
/*-----------------------------------------------------------------------------------*/

#testimonials-description{
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: double #ddd;
}
#testimonials-description p:last-child{
	margin-bottom: 0;
}

.testimonial-item{
	margin-bottom: 25px;
}
.testimonial {
	font-family: Georgia, "Times New Roman", Times, serif;
    position: relative;
	padding: 15px;
	margin-bottom: 10px;
    border: 1px solid #ddd;
    color: #777;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
	line-height: 1.6em;
    font-style: italic;
	text-align: center;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.1);
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.testimonial p:last-child{
	margin: 0;
}
.testimonial:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
	margin-left: -10px;
    height: 10px;
    width: 20px;
    background: url("images/testimonial-arrow.png") no-repeat;
    display: block;
}
.testimonial p:last-child {
	margin-bottom: 0px;
}
.testimonial-author {
	text-align: center;
    color: #999;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-style: normal;
    color: #444;
}